@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap');

:root, html, body {
    background-color:#f5ebe0;
    font-family: 'Quicksand', sans-serif;
    color: #6b705c;
}

.box {
    width: 80%;
    padding-left: 10%;
}

.inputNick {
    position: relative;
    top: 5vh;
    margin: auto;
    background-color: #f5ebe0;
    padding: 15vh 0 0 5vw;
    height: 50vh;
    width: 30vw;
    box-shadow: 0px 0px 70px 5px rgba(165,165,141,1);
}

.inputNick > input {
    width: 45%;
}

button, input, div {
    font-family: 'Quicksand', sans-serif;
}

input {
    background-color: transparent;
    box-shadow: 0px;
    outline: none;
    width: 70%;
    height: 5vh;
    padding: 5px 0;
    padding-left: 60px;
    border: none;
    border-bottom: 1px solid #6b705c;
    background: url(/assets/kitty.png) no-repeat left ;
    background-size: 50px 50px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

button {
    box-shadow: none;
    border: 1px solid #6b705c;
    background-color: transparent;
    padding: 5px 25px;
    height: 6vh;
    font-size: 18px;
}

.chatB {
    padding: 10px 10px;
    width: 70%;
    float: left;
    height:60vh;
    font-size: 22px;
}

.onlineP {
    float: right;
    padding-right: 10%;
    font-size: 22px;
}

ul {
    list-style:square;
}

h3 {
    font-size: 36px;
}


