@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap');

:root, html, body {
    background-color:#f5ebe0;
    font-family: 'Quicksand', sans-serif;
    color: #6b705c;
}

.box {
    width: 80%;
    padding-left: 10%;
}

.nickForm {
    width: 50vw;
    height: 50vh;
    padding: 30px;
}

button, input, div {
    font-family: 'Quicksand', sans-serif;
}

input {
    background-color: transparent;
    box-shadow: 0px;
    outline: none;
    width: 70%;
    padding: 5px 10px;
    /* border-color: none; */
    border: none;
    border-bottom: 1px solid #6b705c;
}

input:focus {
    outline: none;
}

button {
    box-shadow: none;
    border: 1px solid #6b705c;
    background-color: transparent;
    padding: 5px 15px;
}

.chatB {
    padding: 10px 10px;
    width: 70%;
    float: left;
    height:60vh;
}

.onlineP {
    float: right;
    padding-right: 7%;
}

